* {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.banner {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.75)),
    url('./images/NASA.jpg');
  background-size: cover;
  background-position: center;
}

.navbar {
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: #b4f80c;
  text-transform: uppercase;
  list-style: none;
  display: inline-block;
  margin: 0 10px;
  font-size: 12px;
}

.navbar ul li::after {
  content: '';
  height: 2px;
  width: 0;
  background: #b4f80c;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.navbar ul li:hover::after {
  width: 100%;
}

.logo {
  height: 100px;
  width: 180px;
  cursor: pointer;
}

.content {
  width: 100%;
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
}
.content h1 {
  font-size: 50px;
  margin-top: 80px;
}

.content p {
  margin: 20px auto;
  font-weight: 100;
  line-height: 25px;
}

span {
  color: #b4f80c;
}

button {
  width: 200px;
  padding: 15px 0;
  margin: 20px 10px;
  text-align: center;
  font-weight: 600;
  border: 1px solid #fff;
  background: transparent;
  color: white;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
button a {
  text-decoration: none;
  color: white;
}
button:hover a {
  color: black;
}

button:hover .sp-btn {
  height: 100%;
}

button:hover {
  border: none;
  color: black;
}

.sp-btn {
  background: #b4f80c;
  height: 0;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}
/*-- side navbar --*/
.sidebar-nav {
  width: 250px;
  height: 100vh;
  position: fixed;
  right: -250px;
  top: 0;
  background-color: #163d57;
  z-index: 2;
  transition: 0.5s;
}
nav ul li {
  list-style: none;
  margin: 50px 20px;
}
nav ul li a {
  text-decoration: none;
  color: #b4f80c;
}
.menu-btn {
  width: 20px;
  height: 20px;
  padding: 10px 10px;
  background: #163d57;
  text-align: center;
  position: fixed;
  right: 30px;
  top: 20px;
  border-radius: 3px;
  z-index: 3;
  cursor: pointer;
}
.menu-btn .fa {
  font-size: 38px;
}
/*-- Mission --*/

#feature {
  background-color: black;
}

.features {
  width: 100%;
  color: white;
}

.feature-text {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 30px;
}

.feature-text p {
  margin: auto;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  position: relative;
  z-index: 1;
  display: inline-block;
}

.feature-text h1 {
  font-size: 25px;
  color: #b4f80c;
  z-index: 2;
}

.feature-box {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

.features {
  flex-basis: 50%;
}

.features-img {
  flex-basis: 50%;
  margin: auto;
}

.features-img img {
  width: 70%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.features h1 {
  text-align: left;
  margin-bottom: 10px;
  font-weight: 300;
  color: #b4f80c;
}

.features-desc {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.features-text p {
  padding: 0 20px;
  text-align: initial;
}

/*-- Services --*/

#services {
  width: 100%;
  padding: 40px 0;
  background-color: black;
}
.service-box {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
}
.single-service {
  flex-basis: 48%;
  text-align: center;
  border-radius: 7px;
  margin-bottom: 20px;
  color: #fff;
  position: relative;
}
.single-service img {
  width: 100%;
  border-radius: 7px;
  height: 450px;
  object-fit: cover;
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  border-radius: 7px;
  cursor: pointer;
  background: linear-gradient(rgba(0, 0, 0, 0.5), #62676a);
  opacity: 0;
  transition: 1s;
}
.single-service:hover .overlay {
  opacity: 1;
}

.service-text {
  width: 80%;
  position: absolute;
  bottom: 0;
  opacity: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: 1s;
}

.service-text p {
  font-size: 14px;
}

hr {
  height: 2px;
  background-color: #fff;
  border: 0;
  margin: 15px auto;
  width: 60%;
}

.single-service:hover .service-text {
  bottom: 40%;
  opacity: 1;
}

/*-- About our team section --*/
#about {
  width: 100%;
  padding: 40px 0;
  /* margin-bottom: 15px; */
  background-color: white;
}
.about-row {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.about-h1 {
  color: black !important;
}
.about-p {
  color: black !important;
}
.about-column {
  color: black;
  flex-basis: 28%;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 7px;
  box-shadow: 0 10px 20px 3px #009688;
  cursor: pointer;
  transition: transform 0.5s;
}
.about-column img {
  width: 100%;
  height: 400px;
  border-radius: 7px;
  object-fit: cover;
}
.about-column h2 {
  color: black;
}

.about-column p {
  font-size: 14px;
}
.about-column small {
  color: #009688;
}

.about-column .fa {
  color: #27c0ff;
  font-size: 18px;
}
.about-column:hover {
  transform: translateY(-8px);
}
/*-- Footer --*/
#footer {
  padding: 50px 0 20px;
  background-color: black;
}
.footer-row {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-row h3 {
  font-size: 12px;
  font-weight: 100;
  margin-bottom: 15px;
}
.footer-row h1 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 5px;
}
.footer-left,
.footer-right {
  flex-basis: 45%;
  padding: 10px;
  margin-bottom: 20px;
  color: #e0e3f0;
}
.footer-right {
  text-align: right;
}
.footer-left a {
  text-decoration: none;
  color: white;
}
/*-- Media Queries Navbar and Header --*/
@media screen and (max-width: 950px) {
  .navbar ul li {
    list-style: none;
    display: inline-block;
    visibility: hidden;
    margin: 0 20px;
    position: relative;
  }
}

/*-- Contact Us Media Queries --*/
@media screen and (max-width: 770px) {
  .footer-left,
  .footer-right {
    flex-basis: 100%;
    font-size: 14px;
  }
}
/*-- About Us --*/
@media screen and (max-width: 770px) {
  .about-column {
    flex-basis: 100%;
  }
}
/*-- Media Queries Opportunities --*/
@media screen and (max-width: 770px) {
  .single-service {
    flex-basis: 100%;
    margin-bottom: 30%;
  }
  .service-text p {
    font-size: 12px;
  }
  hr {
    margin: 5px auto;
  }
  .single-service:hover .service-text {
    bottom: 25% !important;
  }
}

/*-- Media Queries Mission --*/
@media screen and (max-width: 770px) {
  .feature-text h1 {
    font-size: 15px;
    color: #b4f80c;
    z-index: 2;
  }
  .features {
    flex-basis: 100%;
    margin-top: 15px;
  }
  .features-img {
    flex-basis: 100%;
  }
  .features-img img {
    width: 100%;
    border-radius: 10px;
  }
}
